Repository penguin-orz/datamax2: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-setup, validate-version, sync-requirements

validate-setup:
  name: 验证setup.py配置
  entry: python -m py_compile setup.py
  language: system

validate-version:
  name: 验证版本号格式
  entry: 'python -c "
  
    import re, sys;
  
    content = open(''setup.py'').read();
  
    match = re.search(r\"version=[''\\\"]([^''\\\"]+)[''\\\"]\", content);
  
    version = match.group(1) if match else '''';
  
    parts = version.split(''.'');
  
  ...

sync-requirements:
  name: 检查requirements.txt和setup.py依赖同步
  ...

:rocket: 更新部署指南，添加本地手动发布流程；将包名更改为 pydatamax，版本号更新至 0.1.13，更新依赖项版本范围。优化doc、docx、xlsx的解析。
  .gitignore
  DEPLOYMENT_GUIDE.md
  datamax/parser/doc_parser.py
  datamax/parser/docx_parser.py
  datamax/parser/xlsx_parser.py
  examples/.gitkeep
  examples/parser_examples.py
  requirements.txt
  setup.py
Due: validate-setup, validate-version, sync-requirements

:rocket: 更新部署指南，添加本地手动发布流程；将包名更改为 pydatamax，版本号更新至 0.1.13，更新依赖项版本范围。优化doc、docx、xlsx的解析。
  .gitignore
  DEPLOYMENT_GUIDE.md
  datamax/parser/doc_parser.py
  datamax/parser/docx_parser.py
  datamax/parser/xlsx_parser.py
  examples/parser_examples.py
  requirements.txt
  setup.py
Due: validate-setup, validate-version, sync-requirements

:rocket: v0.1.14 删除安全报告、版本管理和CI/CD设置脚本，移除测试文件和目录，清理项目结构。
  .gitignore
  CHANGELOG.md
  DEPLOYMENT_GUIDE.md
  README.md
  README_CI_CD.md
  README_zh.md
  datamax/loader/core.py
  datamax/loader/minio_handler.py
  datamax/loader/oss_handler.py
  examples/parser_examples.py
  requirements.txt
  scripts/bump_version.py
  scripts/setup_ci.py
  security_report.json
  setup.py
  tests/__init__.py
  tests/test_basic.py
Due: validate-setup, validate-version, sync-requirements

添加labeler模块及相关功能实现
  .gitignore
  README_zh.md
  datamax/labeler/README.md
  datamax/labeler/__init__.py
  datamax/labeler/base_labeler.py
  datamax/labeler/demo.py
  datamax/labeler/llm_client.py
  datamax/labeler/prompt_manager.py
  datamax/labeler/qa_labeler.py
  datamax/labeler/test_labeler.py
  datamax/labeler/text_splitter.py
  datamax/labeler/token_counter.py
Due: none

Implement json and csv parsers
  datamax/parser/csv_parser.py
  datamax/parser/json_parser.py
  tests/test_csv_parser.py
  tests/test_json_parser.py
Due: none

✨ v 0.1.15 updated
  README.md
  README_zh.md
  datamax/parser/core.py
  datamax/utils/data_cleaner.py
  datamax/utils/qa_generator.py
Due: none

❇️ extract references
  datamax/utils/data_cleaner.py
Due: none

feat：domain tree
  datamax/utils/qa_generator.py
  tags.json
Due: none

:construction: uno for doc docx
  .gitignore
  datamax/parser/doc_parser.py
  datamax/parser/docx_parser.py
  datamax/parser/ppt_parser.py
  datamax/sdk/config.py
  datamax/utils/__init__.py
  datamax/utils/uno_handler.py
  examples/UNO_USAGE_README.md
  examples/libreoffice_parallel_test.py
  examples/uno_conversion_example.py
  examples/uno_conversion_safe.py
  performance_test.py
Due: none

✨ 更新性能测试和UNO转换示例
  datamax/parser/doc_parser.py
  datamax/parser/docx_parser.py
  datamax/parser/ppt_parser.py
  datamax/sdk/config.py
  datamax/utils/__init__.py
  datamax/utils/uno_handler.py
  examples/UNO_USAGE_README.md
  examples/libreoffice_parallel_test.py
  examples/uno_conversion_example.py
  examples/uno_conversion_safe.py
  performance_test.py
Due: none

✨ 更新文档解析器和测试
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/publish.yml
  .gitignore
  LICENSE
  README_zh.md
  datamax/__init__.py
  datamax/loader/core.py
  datamax/loader/minio_handler.py
  datamax/loader/oss_handler.py
  datamax/parser/__init__.py
  datamax/parser/base.py
  datamax/parser/core.py
  datamax/parser/csv_parser.py
  datamax/parser/epub_parser.py
  datamax/parser/html_parser.py
  datamax/parser/image_parser.py
  datamax/parser/json_parser.py
  datamax/parser/md_parser.py
  datamax/parser/pdf_parser.py
  datamax/parser/pptx_parser.py
  datamax/parser/txt_parser.py
  datamax/parser/xls_parser.py
  datamax/parser/xlsx_parser.py
  datamax/utils/constants.py
  datamax/utils/data_cleaner.py
  datamax/utils/env_setup.py
  datamax/utils/gotocr_pdf.py
  datamax/utils/mineru_operator.py
  datamax/utils/paddleocr_pdf_operator.py
  datamax/utils/ppt_extract.py
  datamax/utils/qa_generator.py
  datamax/utils/tokenizer.py
  pytest.ini
  requirements.txt
  setup.py
  tests/test_csv_parser.py
  tests/test_doc_parser.py
  tests/test_docx_parser.py
  tests/test_json_parser.py
Due: validate-setup, validate-version, sync-requirements

✨ 更新日志记录和文档解析器
  .gitignore
  README_zh.md
  datamax/parser/__init__.py
  datamax/parser/core.py
  datamax/parser/doc_parser.py
  datamax/parser/docx_parser.py
  datamax/parser/epub_parser.py
  datamax/parser/html_parser.py
  datamax/parser/image_parser.py
  datamax/parser/md_parser.py
  datamax/parser/pdf_parser.py
  datamax/parser/ppt_parser.py
  datamax/parser/pptx_parser.py
  datamax/parser/txt_parser.py
  datamax/parser/xlsx_parser.py
  datamax/utils/__init__.py
  datamax/utils/ppt_extract.py
  datamax/utils/uno_handler.py
  examples/UNO_USAGE_README.md
  examples/libreoffice_parallel_test.py
  examples/uno_conversion_example.py
  examples/uno_conversion_safe.py
  performance_test.py
  requirements.txt
  tests/test_docx_format_analysis.py
  tests/test_wps_doc.py
Due: sync-requirements

🗑️ 删除性能测试文件
  performance_test.py
Due: none

v0.1.14rc3
  .github/workflows/publish.yml
  setup.py
Due: validate-setup, validate-version, sync-requirements

v0.1.15
  setup.py
Due: validate-setup, validate-version, sync-requirements

:rocket: v0.1.15
  .github/workflows/publish.yml
Due: none

:rocket: 更新发布工作流
  .github/workflows/publish.yml
Due: none

:rocket: 更新发布工作流
  .github/scripts/generate_release_notes.py
  .github/workflows/publish.yml
  .gitignore
Due: none

:rocket: v0.1.15.post1 发布
  .github/workflows/publish.yml
  setup.py
Due: validate-setup, validate-version, sync-requirements

:rocket v0.1.15.post2
  .github/workflows/publish.yml
Due: none

:rocket: 更新版本和文档解析器
  datamax/parser/core.py
  datamax/parser/doc_parser.py
  datamax/parser/docx_parser.py
  examples/uno_conversion_example.py
  setup.py
Due: validate-setup, validate-version, sync-requirements

优化UNO服务启动等待机制
  datamax/utils/uno_handler.py
Due: none

fix(parser): 将 title 提取改为使用文件扩展名
  datamax/parser/doc_parser.py
  datamax/parser/docx_parser.py
Due: none

Update core.py
  datamax/loader/core.py
Due: none

refactor(parser): 统一使用 extension 代替 title，并同步测试
  datamax/parser/base.py
  datamax/parser/doc_parser.py
  datamax/parser/docx_parser.py
  datamax/parser/epub_parser.py
  datamax/parser/html_parser.py
  datamax/parser/image_parser.py
  datamax/parser/md_parser.py
  datamax/parser/pdf_parser.py
  datamax/parser/ppt_parser.py
  datamax/parser/pptx_parser.py
  datamax/parser/txt_parser.py
  datamax/parser/xlsx_parser.py
  tests/test_doc_parser.py
  tests/test_docx_parser.py
Due: none

Update __init__.py
  datamax/utils/__init__.py
Due: none

Update data_cleaner.py
  datamax/utils/data_cleaner.py
Due: none

Update gotocr_pdf.py
  datamax/utils/gotocr_pdf.py
Due: none

Update mineru_operator.py
  datamax/utils/mineru_operator.py
Due: none

Update uno_handler.py
  datamax/utils/uno_handler.py
Due: none

fix replace_bank_id()
  datamax/utils/data_cleaner.py
Due: none

remove timeout parameter
  datamax/parser/core.py
  datamax/parser/xlsx_parser.py
Due: none

feat(parser): 为各解析器添加 lifecycle 打点，并新增 lifecycle_types 枚举
  datamax/parser/base.py
  datamax/parser/csv_parser.py
  datamax/parser/doc_parser.py
  datamax/parser/docx_parser.py
  datamax/parser/epub_parser.py
  datamax/parser/html_parser.py
  datamax/parser/image_parser.py
  datamax/parser/json_parser.py
  datamax/parser/md_parser.py
  datamax/parser/pdf_parser.py
  datamax/parser/ppt_parser.py
  datamax/parser/pptx_parser.py
  datamax/parser/txt_parser.py
  datamax/parser/xls_parser.py
  datamax/parser/xlsx_parser.py
  datamax/utils/lifecycle_types.py
Due: none

Path conditions:
  validate-setup: any of: setup\.py$
  validate-version: any of: setup\.py$
  sync-requirements: any of: ^(setup\.py|requirements\.txt)$
